img {
    height: 500px; 
    width: 500px; 
}
div {
    text-align: left;
    size: 12px;
    color: black;
}
body {
    background-color: blanchedalmond;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right bottom, black, red, green,yellow);
    color: lightgreen;
    padding: 10px;
}
header:hover {
    background-image: linear-gradient(to  left bottom, black, red, green,yellow);
    color: lightcoral;
}

main{
    margin: 10px 20px;
}

footer {
    background: linear-gradient( to left, red, orange, yellow, green, blue, navy, purple); 
    color: LightGreen; 
    padding: 10px; 
    text-align: right;
    bottom: 0;
    position: fixed;
    width: 99%;
    transition: 600ms;
    left: 0;
    z-index: 999; 
}

footer:hover {
    background: linear-gradient( to right, red, orange, yellow, green, blue, navy, purple); 
    color: lightcyan; 
    transition: 1000ms;
}
footer:not(hover) {
    transition: 1000ms;
}


a {
    color:green, yellow;
    transition: 1000ms;

}

 a:visited {
    color:blue;
}

a:hover {
    color:red;
    text-decoration:underline;
    background-color:white;
    font-weight: bold;
    transition: 0.3s;
}

a:active { 
    color: pink;
    background-color: green;
}

.time{
    text-align: right;
    color: lightgreen;
}