{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{%block main%}
    <h1>Щеночки</h1>
    <ol>
        <img src="/static/1.jpg"><br>
        <div>
            Lamborghini Murciélago — суперкар, выпускавшийся компанией Lamborghini в Сант-Агата-Болоньезе. 
        </div>
        <img src="/static/246d48ad5e0bf3695ce34c4f1b1cbd13.jpeg"><br>
        <div>
            Bugatti Veyron — гиперкар компании Bugatti, производившийся с 2005 по 2015 год.<br>
            Назван в честь французского легендарного гонщика Пьера Вейрона, победителя 1939 года в гонках 24 часа Ле-Мана.
        </div>
        <img src="/static/7rQf.jpg"><br>
        <div>
            Додж Челленджер — это бескомпромиссный musclecar, в отличие от его главных конкурентов:<br>
            Шевроле Камаро и Форд Мустанг. 
        </div>
        <img src="/static/3.jpg"><br>
        <div>
            Гоночный автомобиль ABT Audi R8 — изящный и невероятно быстрый.
        </div>
        <img src="/static/113720.jpg"><br>
        <div>
            Mercedes-Benz SLS AMG — двухместный люксовый суперкар в кузове купе.
        </div>
    </ol>
{%endblock%}