<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайфулина Алина. Лабораторная работа {{labNum}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if labNum %} Лабораторная работа {{labNum}}{% endif %}.
    </header>

    <main>
        11x28 = {{11*28}}<br>
        8452/793 = {{8425/793}}<br>
        45<sup>8</sup> = {{45**8}}<br>

    <ul>
        {% for f in fruits %}
        <li>{{ f.name }}: {{ f.price }} &#x20bd;</li>
        {% endfor %}
    </ul>
    
    </main>

    <footer>
        &copy;
        {% if name %}
            {{name}}, 
        {% else %}
            Аноним,
        {% endif %}
        {{group}}, 
        {{numCour}} курс, 
        2023
    </footer>
</body>
</html>