<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Алина Сайфулина. Лабораторная работа 2</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if labNum %} Лабораторная работа {{labNum}}{% endif %}.
    </header>

    <main>
        11x28 = {{11*28}}<br>
        8452/793 = {{8425/793}}<br>
        45**8 = {{45**8}}
    </main>

    <footer>
        &copy;
        {% if name %}
            {{name}}, 
        {% else %}
            Аноним,
        {% endif %}
        {{group}}, 
        {{numCour}} курс, 
        2023
    </footer>
</body>
</html>